* 
.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #333;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 9px 15px;
    z-index: 1000;
    transition: top 0.3s ease; /* Transition fluide pour l'apparition/disparition */
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1); /* Ombre pour un effet d'élévation */
}
.navbar img {
    width: 160px;
    height: auto;
    transition: transform 0.3s ease;
}

.navbar img:hover {
    transform: scale(1.2);
}

.navbar ul {
    list-style-type: none;
    display: flex;
    gap: 15px;
    flex: 1;
    justify-content: space-evenly;
}

.navbar a {
    color: #e0ffeb; /* Couleur plus douce */
    text-decoration: none;
    font-weight: bold;
    font-size: 18px;
    padding: 8px 15px; /* Ajout de padding pour des zones cliquables plus larges */
    border-radius: 5px; /* Coins légèrement arrondis */
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.navbar a:hover {
    color: white; /* Couleur blanche au survol */
    background-color: rgba(255, 255, 255, 0.2); /* Arrière-plan semi-transparent */
    transform: scale(1.1); /* Animation légère */
}
@media (max-width: 768px) {
    section {
        flex-direction: column;
        text-align: justify;
    }
    .text, .image {
        max-width: 90%;
    }
    .navbar a{
        font-size: 14px;
    
    }
}
.main-container {
    display: flex;
    max-width: 1200px;
    margin: 20px auto;
    padding: 20px;
    gap: 20px;
    align-items: flex-start; /* Aligne les éléments en haut */
    text-align: justify;
}

/* Contenu principal */
.content-container {
    flex: 3; /* Plus large */
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* Publicité */
.ad-container {
    flex: 1; /* Plus petit */
    max-width: 300px; /* Limite la largeur */
    position: sticky;
    top: 20px; /* Reste visible lors du défilement */
    height: auto;
    background-color: #f9f9f9; /* Fond léger */
    border: 1px solid #ddd; /* Bordure fine */
    padding: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
@media (max-width: 768px) {
    .main-container {
        flex-direction: column;
        text-align: justify;
    }

    .ad-container {
        max-width: 100%;
        position: static; /* Publicité en ligne normale sur mobile */
    }
}
p {

justify}