* 
.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #333;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 9px 15px;
    z-index: 1000;
    transition: top 0.3s ease; /* Transition fluide pour l'apparition/disparition */
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1); /* Ombre pour un effet d'élévation */
}
.navbar img {
    width: 160px;
    height: auto;
    transition: transform 0.3s ease;
}

.navbar img:hover {
    transform: scale(1.2);
}

.navbar ul {
    list-style-type: none;
    display: flex;
    gap: 15px;
    flex: 1;
    justify-content: space-evenly;
}

.navbar a {
    color: #e0ffeb; /* Couleur plus douce */
    text-decoration: none;
    font-weight: bold;
    font-size: 18px;
    padding: 8px 15px; /* Ajout de padding pour des zones cliquables plus larges */
    border-radius: 5px; /* Coins légèrement arrondis */
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.navbar a:hover {
    color: white; /* Couleur blanche au survol */
    background-color: rgba(255, 255, 255, 0.2); /* Arrière-plan semi-transparent */
    transform: scale(1.1); /* Animation légère */
}
@media (max-width: 768px) {
    section {
        flex-direction: column;
        text-align: center;
    }
    .text, .image {
        max-width: 90%;
    }
    .navbar a{
        font-size: 14px;
    
    }
}