<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Liste des Articles</title>
</head>
<body>
    <h1>Liste des Articles</h1>
    <ul>
        <!-- Boucle sur la liste d'articles -->
        {% for article_title, article_url in articles %}
            <li>
                <!-- Lien vers l'article -->
                <a href="{{ article_url }}">{{ article_title }}</a>

                <!-- Lien vers l'édition de l'article -->
                <a href="{{ url_for('edit_article', article_name=article_title) }}">Modifier</a>
            </li>
        {% endfor %}
    </ul>
    <!-- Lien pour créer un nouvel article -->
    <a href="{{ url_for('create_article') }}">Créer un nouvel article</a>
</body>
</html>
